{% extends "base.html" %}
{% block content %}

<h2>Logs</h2>

<div id="logContent" style="margin-top: 1.5rem;">
  <pre style="background-color: #1a2735; padding: 1rem; border-radius: 4px; overflow-x: auto;">
    {{ logs }}
  </pre>
</div>

<script>
  async function refreshLogs() {
    const response = await fetch('{{ url_for("log.logsRaw") }}');
    const logs = await response.text();
    document.getElementById('logContent').innerHTML = `<pre style="background-color: #1a2735; padding: 1rem; border-radius: 4px; overflow-x: auto;">${logs}</pre>`;
  }

  refreshLogs();


  // Refresh logs every 5 seconds
  setInterval(refreshLogs, 5000);
</script>

{% endblock %}